@import url('https://fonts.googleapis.com/css?family=Archivo+Black|Volkhov');
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');

body{
  font-family: 'Roboto',sans-serif;
  font-size: 13px;
  font-weight: 400;
}

nav{
  font-family: 'Archivo Black', sans-serif;
  font-weight: 400;
}

.navbar-dark {
    background-color: transparent;
    }

.amarillo {
    background-color:#FFD733;
    color:white;
}

header {
  font-family: 'Nanum Gothic', sans-serif;
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header H1 {
    color: #FFD733;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

.bg-light {
  background-color: #FFD733 !important;
}

.bg-dark {
  background-color: #FAAF22 !important;
}


@media (pointer: coarse) and (hover: none) {
  header {
    background: url('') black no-repeat center center scroll;
  }
  header video {
    display: none;
  }
}

